* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'poppins', sans-serif;
}

:root {
    --bg-color: ;
    --second-bg-color: ;
    --text-color: ;
    --main-color: ;
    
    #6F38C5 #87A2FB #ADDDD0 #EEEEEE
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
}

body {
    background: var(--bg-color);
    color: var(--text-color);
}

section {
    min-height: 100vh;
    padding: 10rem 9% 2rem;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1.3rem 9%;
background: linear-gradient(181deg, #0d1f48, #00000059);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.header .sticky {
    border-bottom: .8rem solid #1f242d8e;
}

.logo {
    font-size: 2.5rem;
     color: #ffffffa1;
    font-weight: 600;
    cursor: default;
    border: solid darkslategray;
    padding: 2px;
    padding-top: 0px;
    box-shadow: 0 0 15px #bf9acf;
    border-radius: 1rem;
    background-color: #1f242d;
    cursor: pointer;
}

.logo-c {
    color: #6F38C5;
    font-size: 4rem;
    letter-spacing: -14px;
    position: relative;
    left: -5px;
}

.logo-z {
    font-size: 2.9rem;
    letter-spacing: -9px;
    position: relative;
}

.navbar a {
    font-size: 1.7rem;
    color: var(--text-color);
    margin-left: 4rem;
    transition: .3s;
}

.navbar a:hover,
.navbar .active {
    color: #EEEE;
}

#menu-icon {
    font-size: 3.6rem;
    color: var(--text-color);
    display: none;
}

.home {
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-image: url(imges/background.png);
    background-position: center;
    background-size: cover; */
        background: linear-gradient(45deg, #6F38C5, #ADDDD0);
}

.home-content {
    position: relative;
}

.home-content img {
    position: absolute;
    height: 87vh;
    top: -15rem;
    left: -15rem;
}

/* 
.img-landing {
    height: 82vh;
}  
*/
.home-content h3 {
    font-size: 3.2rem;
    font-weight: 700;
}

.home-content h3:nth-of-type(2) {
    margin-bottom: 2rem;
}

span {
    color: #24315c;
    letter-spacing: 1.5px;
}

.home-content h1 {
    font-size: 5.6rem;
    font-weight: 700;
    line-height: 1.3;
}

.home-img img {
    width: 40vw;
    animation: floatImge 7s ease-in-out infinite;
    border-radius: 20rem;
}

@keyframes floatImge {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-2rem);

    }

    100% {
        transform: translateY(0);
    }
}

/* .home-content p {
    font-size: 1.6rem;
    line-height: 1.9;
} */

.home-content-p {
    font-size: 2rem;
}

.social-media a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    background: transparent;
    border: .2rem solid #e3bcf3;
    border-radius: 50%;
    font-size: 2rem;
    color: #fff;
    margin: 3rem 1.5rem 3rem 0;
    transition: .5s ease;
}

.social-media a:hover {
    background: #bc9dc9;
    color: var(--second-bg-color);
    box-shadow: 0 0 1rem #d6b0e6;
}

.btn {
    display: inline-block;
    padding: 1rem 2.8rem;
    background: linear-gradient(45deg, #6F38C5, #ADDDD0);
    border-radius: 4rem;
    box-shadow: 0 0 1rem #bf9acf;
    margin-top: 1.5rem;
    color: var(--second-bg-color);
    letter-spacing: .1rem;
    font-weight: 600;
    transition: .5s ease;
}

.btn:hover {
    box-shadow: none;
}

/* about */

.img-about {
    width: 64vh;
    border-radius: 20rem;
}

.about {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    background: #1f242d;
}

.heading {
    text-align: center;
    font-size: 4.5rem;
}

.about-content h2 {
    text-align: left;
    line-height: 1.2;
}

.about-content h3 {
    font-size: 2.6rem;
}

.about-content p {
    font-size: 1.6rem;
    margin: 2rem 0 3rem;
    line-height: 1.9;
     color: #fff;

}

/* services */

.services {
        background: linear-gradient(45deg, #6F38C5, #ADDDD0);
}

.services h2 {
    margin-bottom: 5rem;
}

.services-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
}


.services-box {
    flex: 1 1 30rem;
    background: var(--second-bg-color);
    padding: 3rem 2rem 4rem;
    border-radius: 2rem;
    text-align: center;
    border: .2rem solid var(--bg-color);
    transition: .5s ease;
    background: linear-gradient(45deg, #555479, #1d5783);
}

.services-container .services-box:hover {
    border-color: #adddd0c4;
    transform: scale(1.04);
        box-shadow: 0 0 1rem #353131;
}

.services-box img {
    width: 10vw;
}

.services-box i {
    font-size: 7rem;
    color: #bc9dc9;
}

.services-box h3 {
    font-size: 2.6rem;
}

.services-box p {
    font-size: 1.6rem;
    margin: 1rem 0 3rem;
    line-height: 1.9;
    color: #ffffffc7;
}

/* protfolio */

.Protfolio {
    background: #1f242d;
}

.Protfolio h2 {
    margin-bottom: 4rem;
}

.protfolio-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    gap: 2.5rem;
}

.protfolio-box {
    position: relative;
    border-radius: 2rem;
    box-shadow: 0 0 1rem var(--bg-color);
    overflow: hidden;
    display: flex;
}

.protfolio-box img {
    width: 100%;
    /* height: 27rem; */
    transition: .5s ease;
}

.protfolio-box:hover img {
    transform: scale(1.1);
}

.protfolio-layer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
     background: linear-gradient(rgba(0, 0, 0, .1), #adddd08c, #6e38c580);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 0 4rem;
    transform: translateY(100%);
    transition: .5s ease;
}

.protfolio-box:hover:hover .protfolio-layer {
    transform: translateY(0);
}

.protfolio-layer h4 {
    font-size: 3rem;
}

.protfolio-layer p {
    font-size: 1.6rem;
    margin: .3rem 0 1rem;
}

/* icon */

.protfolio-layer a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 5rem;
    height: 5rem;
    background: #ADDDD0;
    color: black;
    border-radius: 50%;
}

.protfolio-layer i {
    font-size: 2rem;
    color: var(--second-bg-color);
}

/* start section content */

.home-content-box h2 {
    margin-bottom: 2rem;
}

.home-content-box p {
    margin-bottom: 1rem;
        text-align: center;
        font-size: 1.7rem;
        color: #ffffffc7;
}

/* .home-content p {
    font-size: 1.5rem;
        margin-top: 1.5rem;
        line-height: 1.5;
} */

.p {
    text-align: center;
    font-size: 1.6rem;
    font-size: 2rem;
    margin: 1.5rem;
}


.home-content-box h3 {
    font-size: 2rem;
    margin-bottom: 2rem;
}

.home-content-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;
}

.home-content-box {
    flex: 1 1 30rem;
background: linear-gradient(45deg, #555479, #1d5783);
    padding: 1rem 2rem 4rem;
    border-radius: 2rem;
    text-align: center;
    border: .2rem solid var(--bg-color);
    transition: .5s ease;
}

.home-content-container .home-content-box:hover {
    border-color: #bf9acf;
    transform: scale(1.02);
    box-shadow: 0 0 1rem #bf9acfb7;

}

/* start Footer */

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 2rem 9%;
    background-color: #1f242d;
}

.footer-text {
    font-size: 1.6rem;
    color: #fff;
}

.footer-text span {
    font-weight: bold;
}

.footer-iconTop a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: .8rem;
    background: #ADDDD0;
    color: #1f242d;
    border-radius: .8rem;
    transition: .5s ease;
}

.footer-iconTop a:hover {
    box-shadow: 0 0 1rem #bc9dc9;
}

.footer-iconTop a i {
    font-size: 2.4rem;
    color: var(--bg-color);
}

/* BREAKPOINT */

@media (max-width: 1200px) {
    html {
        font-size: 55%;
    }
}

@media (max-width: 991px) {
    .header {
        padding: 2rem 3%;
    }

    section {
        padding: 10rem 3% 2rem;
    }

    .services {
        padding-bottom: 7rem;
    }

    .Protfolio {
        padding-bottom: 7rem;
    }

    .content {
        min-height: auto;
    }

    .footer {
        padding: 2rem 3%;
    }
}

@media (max-width: 768px) {
    #menu-icon {
        display: block;
    }

    .navbar {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        padding: 1rem 3%;
background: linear-gradient(45deg, #555479, #1d5783);
        border-top: .1rem solid rgba(0, 0, 0, .2);
        box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .2);
        display: none;
    }

    .navbar.active {
        display: block;
    }

    .navbar a {
        display: block;
        font-size: 2rem;
        margin: 3rem 0;
    }

    .home {
        flex-direction: column;
    }

    .home-content h3 {
        font-size: 2.6rem;
    }

    .home-content h1 {
        font-size: 5rem;
    }

    .home-img img {
        width: 70vw;
        margin-top: 4rem;
    }

    .about {
        flex-direction: column-reverse;
    }

    .about img {
        width: 70vw;
        margin-top: 4rem;
    }

    .services h2 {
        margin-bottom: 3rem;
    }

    .Protfolio h2 {
        margin-bottom: 3rem;
    }

    .protfolio-container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 617px) {
    .protfolio-container {
        grid-template-columns: 1fr;
    }
}

@media (max-width: 450px) {
    html {
        font-size: 50%;
    }
}

@media (max-width: 365px) {
    .home-img img {
        width: 90vw;
    }

    .img-about img {
        width: 90vw;
    }

    .footer {
        flex-direction: column-reverse;
    }

    .footer p {
        text-align: center;
        margin-top: 2rem;
    }
}

.pareghraf {
    font-size: 2rem;
}

#Contact {
    background: linear-gradient(45deg, #6e38c598, #adddd0af);
}

#bx {
    font-size: 2.5rem;
    background: #ADDDD0;
    border-radius: 30px;
    color: #585050;
    font-weight: 600;
}

.protofolio-pp {
    color: #ffffffc7;
}